body{
    font-family: Arial, Helvetica, sans-serif;
}



.todo-grid, .todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    align-items: stretch;

}

.todo-input-grid{
    margin-bottom: 10px;
}

.name-input, .date-input {
    font-size: 14px;
    padding: 6px;
}

.add-todo-button, .delete-todo-button {
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;    
    color: white;
    border: none;

}

.add-todo-button {
    background-color: green;

}

.delete-todo-button{
    background-color: darkred;
}