
.search-bar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    /* display: block; */
    flex: 1;
    padding: 8px;

    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}


.header-section {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.header-left {
    width: 150px;
    /* background-color: lightpink; */
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.header-center {

    flex: 1;
    margin-left: 50px;
    margin-right: 25px;
    max-width: 400px;
    display: flex;
    

}

.header-right {
 
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 12px;
    flex-shrink: 0;
    

}

.hamburger-menu, .youtube-logo  {
    height: 25px;


}

.search-bar , .search-button {
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(192, 192, 192);
}

 .search-button{
    height:  40px;
    width: 64px;
    margin-left: -1px;
    /* margin-right: 8px; */
 }

 .voice-search-button{ 
    margin-left: 10px;
    height:  40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(248, 248, 248);
    

}

.search-icon,  .voice-search-icon  {
    height: 25px;
    margin-top: 4px;
    

}


.upload-icon, .apps-icon,  .notifications-icon, .my-icon {
    height: 30px;
    /* width: 40px; */
}