
.search-bar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    /* display: block; */
    flex: 1;
    padding: 8px;

    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}


.header-section {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    border-bottom-width: 1px ;
    border-bottom-style: solid;
    border-bottom-color: rgb(224 224, 224);
    z-index: 100;
}

.header-left {
    width: 150px;
    /* background-color: lightpink; */
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.header-center {

    flex: 1;
    margin-left: 50px;
    margin-right: 25px;
    max-width: 400px;
    display: flex;
    

}

.header-right {
 
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 12px;
    flex-shrink: 0;
    

}

.hamburger-menu, .youtube-logo  {
    height: 25px;


}

.search-bar , .search-button {
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(192, 192, 192);
    position: relative;
}

 .search-button{
    height:  40px;
    width: 64px;
    margin-left: -1px;
    /* margin-right: 8px; */
 }

 .search-button, .voice-search-button , 
 .upload-icon-container, .apps-icon-container
 {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;

 
 }

 .search-button .tooltip, 
 .voice-search-button .tooltip
 , .upload-icon-container .tooltip, 
 .apps-icon-container .tooltip{
    position: absolute;
    bottom: -30px;

    background-color: gray;
    color : white;
    padding: 6px;
    border-radius: 2px;
    font-size:  12px;
    font-family: Roboto;

    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;

    white-space: nowrap;



 }

 .search-button:hover .tooltip, 
 .voice-search-button:hover .tooltip, 
 .upload-icon-container:hover .tooltip,
 .apps-icon-container:hover .tooltip{
    opacity: 1;

 }

 .voice-search-button{ 
    margin-left: 10px;
    height:  40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(248, 248, 248);


    

}

.voice-search-button:hover .tooltip{ 
    opacity: 1;
}

.search-icon,  .voice-search-icon  {
    height: 25px;

}


.upload-icon, .apps-icon,  .notifications-icon, .my-icon {
    height: 30px;
    /* width: 40px; */
}

.notifications-icon-container{
    position: relative;
}
.notifications-count{
    position: absolute;
    top: -2px ;
    right: -2px;
    background-color: rgb(200,0,0);
    color: white;
    font-family: Reboto;
    font-size: 12px;

    border-radius:  50%;
    height: 16px;
    width: 16px;
    text-align: center;
}

